ul.TzModFeature li, ul.TzModFeature{
  padding: 0 !important;
  background: none !important;
}
ul.TzModFeature li img{
  float:left;
}
ul.TzModFeature li a.FeatureTitle{
  text-transform: none;
  font-size: 12px;
  
}
ul.TzModFeature li p{
  margin: 0;
  line-height: 1.5;
}
ul.TzModFeature li{
  padding: 15px 0 !important;
  border-bottom: 1px solid #e0e0e0;
}
.TzModFeature .quote{
    font-style: italic;
}
.TzModFeature .quote .author{
    margin-bottom: 15px;
}
.TzModFeature .quote .text > *{
    display: inline;
}
.TzModFeature .quote .icon-quote{
    float: left;
    padding-right: 3px;
}