@import "../fonts/font-awesome-v3.0.2/css/font-awesome.css";
.icon-check:before{
    font-family: inherit !important;
    font-size: 13px;
}
.icon-32-youtube{
    background: url('youtube.png') no-repeat;
}
.icon-32-wikipedia{
    background: url('wikipedia.png') no-repeat;
}
.icon-14-youtube{
    background: url('youtube_14.png') no-repeat;
}
.icon-14-wikipedia{
    background: url('wikipedia_14.png') no-repeat;
}