.column ul.category-menu li{
  background: none;
  margin: 0;
  padding:10px 0;
}
ul.category-menu li{
  background: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.column ul.category-menu li.level0 ul.sub-menu-category{
  display:none;
}
ul.category-menu li ul.sub-menu-category li{
  margin-left: 15px;
}
ul.category-menu li  ul.sub-menu-category{
  display:none;
}
