.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider li {
  list-style: none;
}
.TzBlogMedia .flexslider,
.TzBlogSlider .flexslider {
  margin: 0;
  width: auto;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  max-width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flexslider {
  background: #fff;
  position: relative;
}
.flexslider .slides {
  zoom: 1;
  padding: 0 !important;
  margin: 0;
}
.flexslider .slides > li {
  position: relative;
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.flexslider ul,
.flexslider ol {
  margin: 0 !important;
}
.flexslider ul.flex-direction-nav li,
.flexslider ul.flex-direction-nav li a {
  margin: 0;
}
.flex-container {
  zoom: 1;
  position: relative;
}
.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
}
.flex-caption {
  width: 96%;
  padding: 2%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 18px;
}
.flex-direction-nav {
  height: 0;
}
.flex-direction-nav li a {
  width: 35px;
  height: 35px;
  margin: -13px 0 0;
  display: block;
  background: url(../assets/bg_direction_nav.png) no-repeat;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -999em;
}
.flex-direction-nav li .flex-next {
  background-position: -42px 0;
  right: 0px;
}
.flex-direction-nav li .flex-prev {
  left: -1px;
}
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 0 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-nav li:first-child {
  margin: 0;
}
div.flexslider .flex-control-nav li a {
  width: 13px;
  height: 13px;
  display: block;
  background: url(../assets/bg_control_nav.png) no-repeat;
  cursor: pointer;
  text-indent: -999em;
}
div.flexslider .flex-control-nav li a:hover {
  background-position: 0 -13px;
}
div.flexslider .flex-control-nav li a.active {
  background-position: 0 -26px;
  cursor: default;
}
.flexslider {
  margin: auto;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
