.TzAdd{
    background: url('../assets/add.png') no-repeat;
    width: 41px;
    height: 41px;
    margin-right: 15px;
    float: left;
}
.TzGroup input,.TzGroup label{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}